.text-weather {
    font-family: 'Anton', sans-serif;
    font-size: xx-large;
    text-align: center;
    color: black;
}


.bg-image {
    background-image: url(../img/weather-5.png);
    height: 75vh;
    background-size: cover;
    background-position: center;
}
